
.vs/CmakeAndSFML/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.exe
*.pdb
*.dll
*.log
*.tlog
*.obj
*.recipe
*.ilk
*.idb
intermediate/Cliente/Debug/x64/Cliente.vcxproj.FileListAbsolute.txt
*.exe
intermediate/CmakeAndSFML/Debug/x64/CmakeAndSFML.vcxproj.FileListAbsolute.txt
